.special-label {
  display: none !important;
}

.align-content-end {
  margin: auto;
}

.auth-main-col,
.auth-background-col {
  position: relative;
}

.auth-main-col {
  margin: auto !important;
}

.auth-background-col {
  background: rgba(#2a4b88, 0.6);
}

.auth-background-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  /* // z-index: 10; */
  /* // background: rgba(0, 0, 0, 0.1); */
  background-size: cover;
  /* // background-size:contain; */
  /* // width: 100%; */
  background-repeat: no-repeat;
  /* // background-image: url("https://thumbs.gfycat.com/FragrantFreeKiwi-max-1mb.gif"); */
  /* background-image: url("https://images.unsplash.com/photo-1498994292978-4d6ff757c6dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=367&q=80"); */
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190328/pngtree-gradual-background-of-business-style-light-emitting-circuits-image_91283.jpg"); */
  /* filter: blur(1.5px); */
  background-image: url("./background.png");
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth-background-mask div h1 {
  color: white;
  font-family: Poppins;
  /* font-family: ubuntu; */
  font-size: 50px;
}
.auth-background-mask div h3 {
  color: white;
  font-family: Poppins;
  /* font-family: ubuntu; */
  font-size: 30px;
}

.auth-wrapper-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth-wrapper {
  background: white;
  height: 100vh;

  /* // height: 80vh;
	// margin: 21px;
	// box-shadow: 1px 0px 6px 0px rgba(74,74,74,0.76);
	// -webkit-box-shadow: 1px 0px 6px 0px rgba(74,74,74,0.76);
	// -moz-box-shadow: 1px 0px 6px 0px rgba(74,74,74,0.76);
	// // overflow: hidden;
	// margin: 0 auto;
	// width: 90%; */
}

.auth-wrapper .auth-body {
  width: 360px;
}

.auth-wrapper .auth-heading {
  font-size: 1.5rem;
  font-family: poppins;
}

.auth-wrapper .auth-option {
  font-size: 0.875rem;
}

.auth-wrapper a {
  color: #2a4b88;
  text-decoration: none;
}

.auth-wrapper .forgot-password a {
  color: #2a4b88;
  text-decoration: none;
  font-size: 14px;
  font-family: poppins;
}

.auth-wrapper input:focus {
  box-shadow: none;
}

@media (max-width: 767.98px) {
  .auth-background-col {
    display: none;
  }

  .auth-form-container {
    margin: 20px;
  }

  .auth-body > p {
    margin: 20px;
  }

  .fc-margin {
    margin-right: 18px !important;
    margin-left: 18px !important;
  }

  .fhc-margin {
    margin-right: 20px !important;
    margin-left: 14px !important;
  }
}

.text-center > button{
    text-transform: none;
    /* font-family: poppins; */
}

@media (max-width: 320px) {
  .auth-wrapper .auth-body {
    width: 310px !important;
  }
}

.auth-body > p {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
  font-family: ubuntu;
}

/* .rigister-form-scroll {
    height: 100vh;
    overflow-y: scroll !important;
}

.rigister-form-scroll::-webkit-scrollbar {
    width: 0.4em;
}

.rigister-form-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(88, 88, 88, 0.3);
}

.rigister-form-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(214, 214, 214);
    outline: 1px solid rgb(182, 195, 207);
    border-radius: 2px;
} */

.fc-margin {
  margin-right: 50px;
  margin-left: 50px;
}

.fhc-margin {
  margin-right: 50px;
  margin-left: 14px !important;
}
